/** GENERIC STYLES **/

* {
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px; }

.lead {
  font-size: 24px;
  font-weight: 300; }

a.no-decoration {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 26px 0; }

.input-control {
  display: flex;
  align-items: center;
  background: #fdfdfd;
  border-radius: 10rem;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  padding: 5px; }
  .input-control label {
    color: #c9182c;
    font-size: 24px; }
  .input-control input {
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1 1 auto;
    padding: 0 .5rem;
    background: transparent; }
    .input-control input::placeholder {
      color: #bfbfbf; }
  .input-control .btn {
    flex: 0 1 auto; }
.input-label {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.form-control > .row {
  margin-bottom: 1rem;
}
.input-label label {
  font-size: 16px;
  color: #838383;
  text-align: left;
  margin-bottom: .5rem;
}
.input-label input, .input-label textarea, .input-label .input-icon {
  border: none;
  outline: none;
  font-size: 18px;
  flex: 1 1 auto;
  color: #404040;
  padding: 11px 8px;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #e7e7e7; }
  .input-label input::placeholder {
    color: #bfbfbf; }
.input-label textarea {
  height: 135px;
}
.input-label .input-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input-label .input-icon input {
  padding: 0 .5rem;
  background: transparent;
  border: none;
}
label + input[type=file] {
  display: none;
}

.dropdown {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.dropdown + .dropdown {
  margin-top: 1rem;
}

.dropdown select {
  flex: 1 0 100%;
  background: #f9f9f9;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 11px 8px;
  font-size: 18px;
  color: #404040;
  cursor: pointer;
  -webkit-appearance: button;
}

.dropdown::after {
  content: "\f3d0";
  font-family: 'Ionicons';
  position: absolute;
  pointer-events: none;
  height: inherit;
  font-size: 18px;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  border-radius: 10rem;
  padding: .5rem 2rem;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .btn-primary {
    background: #f5a623;
    color: #ffffff; }
    .btn-primary:hover {
      background: #f39c0b; }
  .btn-thin {
    background: transparent;
    padding: 0;
    font-weight: 300; }
  .btn-block {
    width: 100%; }
    .btn-block-half {
      width: 50%; }
  .btn-simple {
    background: transparent;
    border: none;
    padding: 0; }
  .btn-facebook {
    background: #3b5998;
    color: #FFFFFF;
    font-size: 16px; }
    .btn-facebook:hover {
      background: #344e86; }
  .btn-outline {
    border: 1px solid #bfbfbf; }
  .btn-sm {
    font-size: 14px;
    color: #404040; }
.btn-circle {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.btn-red {
  background: #de3f52;
  color: #ffffff;
}
.btn-red:hover {
  background: #c9182c;
}

.card {
  border-radius: 3px;
  box-shadow: 0 0 40px 0 rgba(1, 1, 1, 0.05), 0 0 15px 0 rgba(1, 1, 1, 0.1); }
  .card.shadow-heavy {
    box-shadow: 0 20px 40px 0 rgba(1, 1, 1, 0.05), 0 10px 15px 0 rgba(1, 1, 1, 0.1); }

.wave-brand {
  background-size: cover;
  background: url("../images/kkrwave.svg") no-repeat;
  height: 140px;
  padding: 0;
  width: 100%;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transform: translateY(5px); }
  .wave-brand-red {
    background-image: url("../images/wve1Copy2.svg");
    background-size: cover;
    height: 0;
    padding: 0;
    padding-bottom: calc(15% * 3/4);
    width: 100%;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px); }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.modal-header > * {
  margin: 0;
}

.modal-header .btn {
  color: #de3f52;
  font-size: 24px;
  border-bottom: 1px solid #e7e7e7;
}

.modal-footer {
  background: linear-gradient(to bottom, #ffffff, #f4f3f1);
  box-shadow: 0 -2px 25px 0 rgba(126, 126, 126, 0.2);
  padding: 19px 32px;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: flex-end;
}

/** NAVIGATION **/

nav.colored {
  background: #de3f52; }

nav .top-bar {
  max-width: 1000px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0; }

nav .logo {
  padding: 0 2rem;
  border-right: 1px solid #aa0c1d;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 32px;
  text-decoration: none;
  cursor: pointer; }

nav .menus {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
 nav .menus ul {
    list-style: none;
    margin: 0;
    padding: 0 .5rem; }
    nav .menus ul li {
      display: inline-flex; }
      nav .menus ul li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        padding: .5rem 1rem; }
  nav .menus .actions {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    color: #FFFFFF; }
    nav .menus .actions span {
      margin: 0 .5rem; }
    nav .menus .actions .btn-thin {
      color: #ffffff;
      font-size: inherit; }

nav .logged-user {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
  padding: 0 2rem; }

/** INDEX **/

#index header {
  background: linear-gradient(to top, #c9182c, #de3f52);
  color: #ffffff;
  text-align: center;
  height: 100%;
  position: relative; }
  #index header > .row {
    margin: 7rem 0; }
    #index header > .row h1 {
      font-size: 40px;
      font-weight: 600; }

#index section .container > h2 {
  text-align: center;
  margin-bottom: 48px;
  color: #404040; }
#index section .container h3 {
  color: #c9182c !important;
  font-size: 40px;
  font-weight: 400; }
  #index section .container h3 strong {
    font-weight: 600; }

#index .search-box {
  margin-top: 5rem; }

#index .about-point {
  display: flex;
  align-items: start; }
  #index .about-point > .circle {
    flex: 1 0 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background: #c9182c;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 36px;
    font-size: 18px; }
  #index .about-point-details {
    margin-bottom: 26px; }
    #index .about-point-details h4 {
      color: #c9182c;
      margin: 0;
      font-size: 20px; }
    #index .about-point-details p {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.5); }

#index .values {
  text-align: center;
  padding: 2rem;
  box-sizing: padding-box; }
  #index .values h5 {
    color: #555555;
    font-size: 24px;
    margin: 16px 0 8px; }
  #index .values p {
    font-size: 18px;
    color: rgba(85, 85, 85, 0.5);
    font-weight: 400; }

#index .curved {
  background: linear-gradient(to top, #c9182c, #de3f52);
  margin-top: 76px;
  text-align: center;
  color: #ffffff;
  position: relative; }
  #index .curved h2 {
    font-size: 32px;
    color: #ffffff !important; }

#index .testimonials {
  overflow-x: hidden; }
  #index .testimonials ngx-carousel {
    width: 120%;
    padding-bottom: 48px;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
    transform: translateX(-10%); }
  #index .testimonials ngx-item {
    overflow: -webkit-paged-x; }
  #index .testimonials .card {
    background: #FFFFFF;
    padding: 1rem 1rem 5rem;
    margin: 1rem;
    position: relative;
    overflow: visible;
    box-shadow: 0 20px 40px 0 rgba(1, 1, 1, 0.05), 0 10px 15px 0 rgba(1, 1, 1, 0.1); }
    #index .testimonials .card p {
      color: #404040;
      font-size: 18px; }
    #index .testimonials .card strong {
      color: #404040; }
    #index .testimonials .card .testmonial-img {
      border-radius: 10rem;
      height: 64px;
      width: 64px;
      border: 6px solid #f5a623;
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
      -moz-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
      -o-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%); }
  #index .testimonials .leftRs, .testimonials .rightRs {
    display: none;
    opacity: 0; }
#index .testimonies {
  margin: 26px 0 72px;
}
#index .testimonies .inner {
  display: flex;
  width: 120%;
  transform: translateX(-10%);
}
#index .bottom-pic {
  background: url("../images/remote-worker-kkr.png") no-repeat top;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow-y: hidden; }

#index .footer-head {
  font-size: 32px;
  color: #404040;
  text-align: center;
  font-weight: 600; }

#index footer {
  color: #ffffff; }
  #index footer img {
    width: 100%;
    height: auto; }
  #index footer .footer-body {
    background: #de3f52; }
    #index footer .footer-body strong {
      font-size: 14px; }
    #index footer .footer-body p {
      font-weight: 300;
      font-size: 12px;
      color: #f0f0f0;
      line-height: 1.65; }
    #index footer .footer-body .col-md-4 {
      padding: 1rem; }
      #index footer .footer-body .col-md-4:first-child {
        border-right: 1px solid #c9182c; }
    #index footer .footer-body .col-md-2 {
      padding: 1rem; }
      #index footer .footer-body .col-md-2 ul {
        list-style: none;
        margin: .5rem 0 0;
        padding: 0; }
        #index footer .footer-body .col-md-2 ul li {
          padding: .5rem 0; }
          #index footer .footer-body .col-md-2 ul li a {
            color: #ffffff;
            font-weight: 300;
            font-size: 12px;
            text-decoration: none; }
  #index footer .footer-footer {
    background: #7c000f;
    text-align: center;
    padding: .5rem 0; }
    #index footer .footer-footer .container {
      justify-content: center;
      padding: 0;
      text-align: center; }
    #index footer .footer-footer span {
      font-size: 12px;
      font-weight: 300;
      color: #f0f0f0; }

/** LOGIN **/

#login section {
  background: linear-gradient(to top, #c9182c, #de3f52);
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

#login .container {
  padding: 0; }

#login .card {
  background-color: #FFFFFF;
  width: auto;
  padding: 2rem; }

#login .container {
  flex: 1 0 100%;
  display: flex;
  align-items: center; }
  .container > .row {
    flex: 1 0 100%; }

#login .login-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #login .login-header h1 {
    font-size: 48px;
    color: #333333;
    margin: 0; }
  #login .login-header span {
    font-size: 12px;
    color: #555555; }
    #login .login-header span a {
      color: inherit;
      font-weight: 600;
      text-decoration: none; }
#login .login-form {
  margin-top: 32px; }
  .login-form .btn.btn-primary {
    margin-top: 2rem; }
#login .login-preferences {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #login .login-preferences .remember input[type=checkbox] {
    margin-right: .5rem; }
  #login .login-preferences .remember label {
    font-size: 12px; }
  #login .login-preferences .btn-simple {
    font-size: 12px;
    font-weight: 600; }

#login .input-control-square {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #bfbfbf;
  background: #f9f9f9;
  border: 1px solid #e7e7e7;
  border-radius: .25rem;
  padding: 12px;
  font-size: 16px;
  flex: 1 1 100%; }
  #login .input-control-square i {
    margin-right: .5rem; }
  #login .input-control-square input {
    border: none;
    background: transparent;
    flex: 1 1 100%;
    color: #000000; }
    #login .input-control-square input:focus {
      outline: none; }
    #login .input-control-square input::placeholder {
      color: #bfbfbf; }
  #login .input-control-square + .input-control-square {
    margin-top: 1rem; }

.or-strikeout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px; }
  .or-strikeout .line {
    border-top: 1px solid #e7e7e7;
    width: 100%;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    transform: translateY(25px); }
  .or-strikeout span {
    display: flex;
    padding: 1rem 2rem;
    background: #FFFFFF;
    z-index: 100; }

/** REGISTER **/

#register section {
  background: linear-gradient(to top, #c9182c, #de3f52);
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

#register .container {
  padding: 0; }

#register .card {
  background-color: #FFFFFF;
  width: auto;
  padding: 2rem; }

#register .container {
  flex: 1 0 100%;
  display: flex;
  align-items: center; }
  #register .container > .row {
    flex: 1 0 100%; }

#register .register-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #register .register-header h1 {
    font-size: 48px;
    color: #333333;
    margin: 0; }
  #register .register-header span {
    font-size: 12px;
    color: #555555; }
    #register .register-header span a {
      color: inherit;
      font-weight: 600;
      text-decoration: none; }
#register .register-form {
  margin-top: 32px; }
  #register .register-form .btn.btn-primary {
    margin-top: 2rem; }
  #register .register-form small {
    text-align: center;
    margin-top: 1rem;
    display: block;
    font-size: 10px;
    color: #333333; }
    #register .register-form small a {
      font-weight: 600;
      text-decoration: none;
      color: inherit; }
#register .register-preferences {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #register .register-preferences .remember input[type=checkbox] {
    margin-right: .5rem; }
  #register .register-preferences .remember label {
    font-size: 12px; }
  #register .register-preferences .btn-simple {
    font-size: 12px;
    font-weight: 600; }

#register .input-control-square {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #bfbfbf;
  background: #f9f9f9;
  border: 1px solid #e7e7e7;
  border-radius: .25rem;
  padding: 12px;
  font-size: 16px;
  flex: 1 1 100%; }
  #register .input-control-square i {
    margin-right: .5rem; }
  #register .input-control-square input {
    border: none;
    background: transparent;
    flex: 1 1 100%;
    color: #000000; }
    #register .input-control-square input:focus {
      outline: none; }
    #register .input-control-square input::placeholder {
      color: #bfbfbf; }
  #register .input-control-square + .input-control-square {
    margin-top: 1rem; }

#register .or-strikeout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px; }
  #register .or-strikeout .line {
    border-top: 1px solid #e7e7e7;
    width: 100%;
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
    transform: translateY(25px); }
  #register .or-strikeout span {
    display: flex;
    padding: 1rem 2rem;
    background: #FFFFFF;
    z-index: 100; }

/** SEARCH RESULT **/
body#search {
  background: #f4f4f4;
}

#search .search-wrapper {
  background: #fbfbfb;
  position: sticky;
  top: -1px; }

#search .container {
  padding: 1rem; }

#search .search-result {
   }
  #search .search-result .result-number {
    font-size: 14px;
    color: #404040; }
  #search .search-result .search-results {
    margin-top: 32px; }

#search .pagination {
  display: flex;
  align-items: center;
  margin: 44px 0 80px; }
  #search .pagination .arrows {
    height: 32px;
    width: 32px;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    #search .pagination .arrows i {
      font-size: 16px;
      color: #f5a623; }
    #search .pagination .arrows:hover {
      background-color: #fcfcfc; }

#search .pages {
  list-style: none;
  padding: 0;
  margin: 0 .5rem;
  cursor: pointer; }
  #search .pages li {
    display: inline-flex;
    margin: 0 .5rem;
    color: #bfbfbf; }
    #search .pages li:hover, .pages li.active {
      color: #f5a623 !important; }

#search .item-wrapper {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #bfbfbf;
  padding: 16px 8px; }

#search .user-img {
  border-radius: 10rem;
  height: 80px;
  width: 80px;
  object-fit: cover; }

#search .item-details {
  display: flex;
  flex-direction: column;
  padding: 6px 16px; }
  #search .item-details .name {
    margin-bottom: 4px;
    font-size: 18px; }
  #search .item-details .position {
    margin-bottom: 4px;
    font-size: 18px; }
  #search .item-details .city {
    font-size: 14px;
    color: #838383; }

/** USER PROFILE **/
#profile .user-header {
  position: relative;
  min-height: auto;
  padding-bottom: 72px;
  background: linear-gradient(to bottom, #ffffff, #f4f3f1); }

#profile .user-cover {
  height: 200px;
  background: url("https://images.unsplash.com/photo-1513342253181-7a2f7cdc3d1f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7010911a0cc3aee32bf4588f438bacd6&auto=format&fit=crop&w=1568&q=80") no-repeat center;
  background-size: cover; }
  #profile .user-cover .container {
    position: relative;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  #profile .user-cover img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 200px;
    margin-bottom: 1rem;
    -webkit-transform: translateY(101px);
    -moz-transform: translateY(101px);
    -ms-transform: translateY(101px);
    -o-transform: translateY(101px);
    transform: translateY(101px); }
  #profile .user-cover .btn {
    position: absolute;
    right: 0;
    top: 100%;
    -webkit-transform: translateY(1rem);
    -moz-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    -o-transform: translateY(1rem);
    transform: translateY(1rem); }

#profile .user {
  padding-top: 75px;
  align-items: flex-start;
}

#profile .user-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #profile .user-info .name {
    font-size: 24px;
    font-weight: 600; }
  #profile .user-info .job {
    font-size: 24px;
    font-weight: 400; }
  #profile .user-info .location {
    margin-top: .5rem;
    font-size: 1rem;
    color: #838383;
    font-weight: 400; }
  #profile .user-info .about {
    margin-top: 24px;
    font-size: 18px;
    color: #404040; }
  #profile .user-info .link {
    margin: 16px 0;
    font-weight: 600;
    font-size: 18px;
    color: #838383;
    text-decoration: none; }
  #profile .user-info .tags {
    display: flex; }
    #profile .user-info .tags .tag {
      font-size: 18px;
      color: #838383;
      background: #FFFFFF;
      border: 1px solid #e7e7e7;
      border-radius: 3px;
      padding: 4px 8px;
      margin: 0 .5rem; }

#profile .portfolio-container {
  background: #fbfbfb; }

#profile .portfolio-container .container {
  align-items: flex-start;
  display: block
}

#profile .portfolios-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px; }
  #profile .portfolios-header h3 {
    font-size: 24px; }

#profile .portfolios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 32px; }

#profile #show-portfolio {
  cursor: pointer;
}

#profile .item-wrapper img {
  border-radius: 5px;
  width: 100%;
  height: auto; }
#profile .item-wrapper .item-body {
  margin-top: 1rem;
  font-size: 18px;
  text-align: left;
  color: #404040; }

/** MODAL PROFILE **/

#modal-profile .profile-header {
  position: relative;
  background: url("https://images.unsplash.com/photo-1496112933996-1aa94ac8a23f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9efbe2dae4aa3b325ab203f8c4bc52b5&auto=format&fit=crop&w=1650&q=80") center no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#modal-profile .profile-header > #edit-cover {
  position: absolute;
  top: 24px;
  right: 24px;
}

#modal-profile .profile-img-container {
  transform: translateY(100px);
}

#modal-profile .profile-img-container .profile-img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

#modal-profile .profile-img-container label {
  position: absolute;
  bottom: 0;
  right: 0;
}

#modal-profile .profile-form {
  padding: 100px 1rem 1rem;
}

#modal-profile .skillsets {
  list-style: none;
  padding: 0;
  margin: 0;
}

#modal-profile .skillsets .skillset {
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-start;
  padding: 3px 10px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

#modal-profile .skillsets .skillset span {
  color: #838383;
}

#modal-profile .skillsets .skillset i {
  color: #c9182c;
  margin-left: .5rem;
}

/** MODAL PORTFOLIO **/
#modal-portfolio {
  display: none;
}

#modal-portfolio .portfolio-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#modal-portfolio .portfolio-header {
  height: 200px;
  background: transparent;
}

#modal-portfolio .portfolio-header .portfolio-upload {
  height: 135px;
  width: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin: 1rem;
  color: #838383;
  cursor: pointer;
}
#modal-portfolio .portfolio-header .portfolio-upload i {
  font-size: 40px;
}
#modal-portfolio .portfolio-header .portfolio-upload span {
  font-size: 14px;
}

#modal-portfolio .portfolio-form {
  padding: 0 1rem 1rem;
}

#modal-portfolio .portfolio-form > .row {
  margin-bottom: 1rem;
}

#modal-portfolio .project-ongoing {
  cursor: pointer;
}

#modal-portfolio .project-ongoing label {
  margin-left: .5rem;
  color: #838383;
}

/** PORTFOLIO DETAILS **/

#portfolio-details {
  display: none;
}

#portfolio-details .modal-body {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

#portfolio-details .modal-body img {
  height: 320px;
  width: 320px;
  object-fit: cover;
  object-position: center;
  flex: 1 0 320px;
}

#portfolio-details .portfolio-desc {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

#portfolio-details .top-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

#portfolio-details .top-desc .details {
  flex: 1 1 100%;
}

#portfolio-details .top-desc .details .title {
  margin: 0 0 4px;
  color: #404040;
}

#portfolio-details .top-desc .details .date-range {
  font-size: 16px;
  color: #838383;
}

#portfolio-details .top-desc .actions {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

#portfolio-details .top-desc .actions a {
  white-space: nowrap;
  margin-right: 1rem;
}

#portfolio-details .top-desc .actions .btn-simple {
  color: #c9182c;
  font-size: 24px;
}

#portfolio-details .bottom-desc .description {
  font-size: 18px;
  color: #404040;
  line-height: 1.43;
}

#portfolio-details .bottom-desc .link {
  font-size: 18px;
  color: #838383;
  font-weight: 600;
  text-decoration: none;
}

/** MEDIA QUERIES **/

@media only screen and (max-width: 768px) {
  .portfolios-header {
    padding: 0 1rem; }

  .portfolios {
    padding: 0 1rem;
    grid-template-columns: 1fr 1fr; } }


@media only screen and (max-width: 768px) {
  nav .menus {
    justify-content: flex-end; }
    nav .menus ul {
      display: none; }
  
  #index .testimonies .inner {
      display: flex;
      width: 200%;
      transform: translateX(-25%);
    }

  #index .footer-body .col-md-4:first-child {
    border-right: none !important;
    border-bottom: 1px solid #c9182c;
    margin-bottom: 24px; } 
  
  #profile .portfolios {
    grid-template-columns: 1fr 1fr;
  }
}